@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --brand: #FFD400;
}

html {
  overscroll-behavior: none;
}

body {
  background-color: #fcfdfe;
  color: #09090b;
  font-family: var(--font-inter), sans-serif;
  overscroll-behavior: none;
}

.dark body {
  background-color: #111;
  color: #fff;
}

body.home-page {
  background-color: transparent;
}

#nprogress .bar {
  top: 0 !important;
}